In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_excel(r"C:\Users\ExpertBook\Downloads\UCS-Satellite-Database 5-1-2023.xlsx")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7560 entries, 0 to 7559
Data columns (total 68 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Name of Satellite, Alternate Names  7560 non-null   object
 1   Current Official Name of Satellite  7560 non-null   object
 2   Country/Org of UN Registry          7559 non-null   object
 3   Country of Operator/Owner           7560 non-null   object
 4   Operator/Owner                      7560 non-null   object
 5   Users                               7560 non-null   object
 6   Purpose                             7560 non-null   object
 7   Detailed Purpose                    1254 non-null   object
 8   Class of Orbit                      7560 non-null   object
 9   Type of Orbit                       6909 non-null   object
 10  Longitude of GEO (degrees)          7557 non-null   float64
 11  Perigee (km)                        7553 non-null   float64
 12  Apogee (km)                         7553 non-null   float64
 13  Eccentricity                        7549 non-null   float64
 14  Inclination (degrees)               7556 non-null   float64
 15  Period (minutes)                    7504 non-null   float64
 16  Launch Mass (kg.)                   7315 non-null   float64
 17  Dry Mass (kg.)                      767 non-null    object
 18  Power (watts)                       579 non-null    object
 19  Date of Launch                      7559 non-null   object
 20  Expected Lifetime (yrs.)            5450 non-null   float64
 21  Contractor                          7560 non-null   object
 22  Country of Contractor               7560 non-null   object
 23  Launch Site                         7560 non-null   object
 24  Launch Vehicle                      7560 non-null   object
 25  COSPAR Number                       7560 non-null   object
 26  NORAD Number                        7560 non-null   int64
 27  Comments                            2085 non-null   object
 28  Unnamed: 28                         5 non-null      object
 29  Source Used for Orbital Data        6636 non-null   object
 30  Source                              3286 non-null   object
 31  Source.1                            725 non-null    object
 32  Source.2                            1832 non-null   object
 33  Source.3                            1126 non-null   object
 34  Source.4                            729 non-null    object
 35  Source.5                            553 non-null    object
 36  Source.6                            504 non-null    object
 37  Unnamed: 37                         484 non-null    object
 38  Unnamed: 38                         484 non-null    object
 39  Unnamed: 39                         484 non-null    object
 40  Unnamed: 40                         484 non-null    object
 41  Unnamed: 41                         484 non-null    object
 42  Unnamed: 42                         484 non-null    object
 43  Unnamed: 43                         484 non-null    object
 44  Unnamed: 44                         484 non-null    object
 45  Unnamed: 45                         484 non-null    object
 46  Unnamed: 46                         484 non-null    object
 47  Unnamed: 47                         484 non-null    object
 48  Unnamed: 48                         484 non-null    object
 49  Unnamed: 49                         484 non-null    object
 50  Unnamed: 50                         484 non-null    object
 51  Unnamed: 51                         484 non-null    object
 52  Unnamed: 52                         484 non-null    object
 53  Unnamed: 53                         485 non-null    object
 54  Unnamed: 54                         485 non-null    object
 55  Unnamed: 55                         485 non-null    object
 56  Unnamed: 56                         485 non-null    object
 57  Unnamed: 57                         485 non-null    object
 58  Unnamed: 58                         485 non-null    object
 59  Unnamed: 59                         485 non-null    object
 60  Unnamed: 60                         488 non-null    object
 61  Unnamed: 61                         488 non-null    object
 62  Unnamed: 62                         487 non-null    object
 63  Unnamed: 63                         485 non-null    object
 64  Unnamed: 64                         485 non-null    object
 65  Unnamed: 65                         485 non-null    object
 66  Unnamed: 66                         487 non-null    object
 67  Unnamed: 67                         485 non-null    object
dtypes: float64(8), int64(1), object(59)
memory usage: 3.9+ MB

In [5]:
df["Class of Orbit"].unique()

array(['LEO', 'GEO', 'Elliptical', 'MEO', 'LEo'], dtype=object)

In [6]:
df = df.loc[df["Class of Orbit"] == "GEO"]

In [7]:
df = df.loc[df["Longitude of GEO (degrees)"] < 0]

In [8]:
df.reset_index(drop = True, inplace = True)

In [9]:
df

,"Name of Satellite, Alternate Names",Current Official Name of Satellite,Country/Org of UN Registry,Country of Operator/Owner,Operator/Owner,Users,Purpose,Detailed Purpose,Class of Orbit,Type of Orbit,...,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67
0,ABS-2A,ABS-2A,NR,Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,NaN,GEO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABS-3A,ABS-3A,NR,Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,NaN,GEO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Advanced Orion 4 (Mentor, NROL 6, USA 139)",USA 139,USA,USA,National Reconnaissance Office (NRO),Military,Earth Observation,Electronic Intelligence,GEO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AEHF-5 (Advanced Extremely High Frequency sate...,USA 292,USA,USA,US Air Force,Military,Communications,NaN,GEO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AEHF-USA 2 (Advanced Extremely High Frequency ...,USA 235,USA,USA,US Air Force,Military,Communications,NaN,GEO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,"Wideband Global Satcom 4 (WGS-4, USA 233)",USA 233,USA,USA,Military Satellite Communications - US Air Force,Military,Communications,NaN,GEO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,"Wideband Global Satcom 5 (WGS-5, USA 243)",USA 243,USA,USA,Military Satellite Communications - US Air Force,Military,Communications,NaN,GEO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,"Wideband Global Satcom 6 (WGS-6, USA 244)",USA 244,USA,USA,Military Satellite Communications - US Air Force,Military,Communications,NaN,GEO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,"Wideband Global Satcom 8 (WGS-8, USA 272)",USA 272,USA,USA,Military Satellite Communications - US Air Force,Military,Communications,NaN,GEO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,WildBlue 1,WildBlue 1,USA,USA,WildBlue Communications,Commercial,Communications,NaN,GEO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.isna().sum()

Name of Satellite, Alternate Names      0
Current Official Name of Satellite      0
Country/Org of UN Registry              0
Country of Operator/Owner               0
Operator/Owner                          0
                                     ...
Unnamed: 63                           216
Unnamed: 64                           216
Unnamed: 65                           216
Unnamed: 66                           216
Unnamed: 67                           216
Length: 68, dtype: int64

In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv(r"C:\Users\ExpertBook\Desktop\Dataset_Nine_Ying_yui_copy.csv")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35187 entries, 0 to 35186
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   host_id                         35187 non-null  int64
 1   host_name                       35187 non-null  object
 2   neighbourhood_group             35187 non-null  object
 3   neighbourhood                   35187 non-null  object
 4   latitude                        35187 non-null  float64
 5   longitude                       35187 non-null  float64
 6   room_type                       35187 non-null  object
 7   price                           35187 non-null  float64
 8   minimum_nights                  35187 non-null  int64
 9   number_of_reviews               35187 non-null  int64
 10  last_review                     35187 non-null  object
 11  reviews_per_month               35187 non-null  float64
 12  calculated_host_listings_count  35187 non-null  int64
 13  availability_365                35187 non-null  int64
dtypes: float64(4), int64(5), object(5)
memory usage: 3.8+ MB

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_excel(r"C:\Users\ExpertBook\Downloads\Cleaned Datasets_Cause of Death_2001-2008.xlsx")

In [5]:
df.isna().sum()

TIME          0
SEX           0
ICD10         0
Value         0
Unnamed: 4    0
Unnamed: 5    0
dtype: int64

In [9]:
df = df.iloc[:, [0, 1, 2, - 1]]

In [10]:
df.head()

   TIME    SEX                                      ICD10  Unnamed: 5
0  2001  Males      All causes of death excluding S00-T98      277858
1  2001  Males  Certain infectious and parasitic diseases        5347
2  2001  Males                               Tuberculosis         545
3  2001  Males                    Meningococcal infection          30
4  2001  Males                            Viral hepatitis         471

0       277858
1         5347
2          545
3           30
4          471
         ...
1051      2815
1052       630
1053      2768
1054       166
1055        68
Name: Unnamed: 5, Length: 1056, dtype: int64

In [40]:
df = df.loc[ ~( df["ICD10"] == "All causes of death excluding S00-T98")]

In [53]:
df.groupby(["TIME", "SEX", "ICD10"]).agg({"Unnamed: 5" : sum}).apply(lambda x: x.sort_values(['Unnamed: 5'], ascending=False).head())

                                                                     TIME  \
TIME SEX     ICD10
2001 Females Accidental poisoning by and exposure to noxious... 128  2001
             Accidents                                          125  2001
             Assault                                            130  2001
             Asthma and status asthmaticus                      107  2001
             Cerebrovascular diseases                           102  2001
...                                                                   ...
2008 Males   Symptoms, signs and abnormal clinical and labor... 979  2008
             Transport accidents                                984  2008
             Tuberculosis                                       926  2008
             Ulcer of stomach, duodenum and jejunum             967  2008
             Viral hepatitis                                    928  2008

                                                                         SEX  \
TIME SEX     ICD10
2001 Females Accidental poisoning by and exposure to noxious... 128  Females
             Accidents                                          125  Females
             Assault                                            130  Females
             Asthma and status asthmaticus                      107  Females
             Cerebrovascular diseases                           102  Females
...                                                                      ...
2008 Males   Symptoms, signs and abnormal clinical and labor... 979    Males
             Transport accidents                                984    Males
             Tuberculosis                                       926    Males
             Ulcer of stomach, duodenum and jejunum             967    Males
             Viral hepatitis                                    928    Males

                                                                                                                 ICD10  \
TIME SEX     ICD10
2001 Females Accidental poisoning by and exposure to noxious... 128  Accidental poisoning by and exposure to noxiou...
             Accidents                                          125                                          Accidents
             Assault                                            130                                            Assault
             Asthma and status asthmaticus                      107                      Asthma and status asthmaticus
             Cerebrovascular diseases                           102                           Cerebrovascular diseases
...                                                                                                                ...
2008 Males   Symptoms, signs and abnormal clinical and labor... 979  Symptoms, signs and abnormal clinical and labo...
             Transport accidents                                984                                Transport accidents
             Tuberculosis                                       926                                       Tuberculosis
             Ulcer of stomach, duodenum and jejunum             967             Ulcer of stomach, duodenum and jejunum
             Viral hepatitis                                    928                                    Viral hepatitis

                                                                     Unnamed: 5
TIME SEX     ICD10
2001 Females Accidental poisoning by and exposure to noxious... 128         496
             Accidents                                          125       13165
             Assault                                            130         210
             Asthma and status asthmaticus                      107         871
             Cerebrovascular diseases                           102       22599
...                                                                         ...
2008 Males   Symptoms, signs and abnormal clinical and labor... 979       16895
             Transport accidents                                984        3506
             Tuberculosis                                       926         343
             Ulcer of stomach, duodenum and jejunum             967         440
             Viral hepatitis                                    928         462

[1040 rows x 4 columns]